<div class="row hero-header" id="header" style="background-image: url('../../assets/img/home.png'); background-size: cover; background-position: center;">
  <div class="col-md-7">
    <img src="../../assets/img/logos/logo3.png" class="logo">
    <br>
    <br>
    <h1>     Centro Educacional Educa Center</h1>
    <h3>     Formando Futuros Brillantes, Inspirando Éxito!</h3>
    <h4>     Matriculas abiertas hasta el 30 de Agosto, 2024</h4>
    <br>
    <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-lg btn-red">Iniciar Sesion<span class="ti-arrow-right"></span></a>
  </div>
</div>
