
      <div class="row hero-header" id="header">
        <div class="col-md-7">
          <img src="../assets/img/meetup-logo.png" class="logo">
          <h1>Liceo Municipal de Cerro Navia</h1>
          <h3>to start you up with your business!</h3>
          <h4>20<sup>th</sup> to 22<sup>nd</sup>  October, 2015</h4>
          <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-lg btn-red">Iniciar Sesion<span class="ti-arrow-right"></span></a>

        </div>
        <div class="col-md-5 hidden-xs">
          <img src="../assets/img/rocket.png" class="rocket animated bounce">
        </div>
      </div>
