<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <span class="example-app-name">Bienvenido {{ username }}</span>
    <span class="example-logout-button" *ngIf="username">
      <button mat-icon-button (click)="logout()"><mat-icon>exit_to_app</mat-icon></button>
    </span>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <div class="sidenav-overlay" *ngIf="snav.opened && mobileQuery.matches" (click)="snav.close()"></div>

    <mat-sidenav #snav class="example-sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <!-- Enlace Asignaturas con submenú dinámico -->
        <mat-list-item (click)="toggleAsignaturasMenu()">
          <mat-icon mat-list-icon>folder</mat-icon>
          <span mat-line>Asignaturas</span>
          <mat-icon mat-list-icon [class.rotate-icon]="asignaturasMenuOpened">expand_more</mat-icon>
        </mat-list-item>
        <!-- Submenú de Asignaturas -->
        <div *ngIf="asignaturasMenuOpened">
          <mat-nav-list>
            <!-- Iterar sobre las asignaturas para mostrarlas como enlaces -->
            <a mat-list-item *ngFor="let asignatura of asignaturas" [routerLink]="['/dashboardstudents/asignatura', asignatura.ID_Asignatura]">
              {{ asignatura.Nombre }}
            </a>
          </mat-nav-list>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <br>
      <!-- Usamos una condición para mostrar u ocultar las otras componentes -->
      <ng-container *ngIf="!isAsignaturaSelected()">
        <div class="asignaturas-wrapper">
          <app-asignaturas-dashboard-student></app-asignaturas-dashboard-student>
        </div>
        <div class="notas-proximos-wrapper">
          <div class="notas-wrapper">
            <div class="card">
              <div class="card-body">
                <app-notas-dashboard-student></app-notas-dashboard-student>
              </div>
            </div>
          </div>

          <div class="eventos-wrapper">
            <div class="card">
              <div class="card-body">
                <app-proximos-dashboard-student></app-proximos-dashboard-student>
              </div>
            </div>
          </div>
        </div>
        <app-horario-dashboard-student></app-horario-dashboard-student>
      </ng-container>

      <!-- Aquí es donde cargaremos el contenido dinámico de las asignaturas -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
