<div class="back-to-dashboard">
  <a routerLink="/dashboardstudents">
    <mat-icon mat-list-icon>home</mat-icon>
  </a>
</div>

  <p-divider align="right" class="custom-divider">
    <b>Mis Observaciones</b>
  </p-divider>
  <br>

  <div class="filters">
    <div class="filter-wrapper">
      <div class="filter">
        <p-dropdown [options]="tipoObservaciones" placeholder="Filtrar por Tipo" [(ngModel)]="busqueda"></p-dropdown>
      </div>
      <div class="clear-filter">
        <button pButton type="button" class="p-button-danger" (click)="limpiarFiltros()">
          <i class="pi pi-times"><strong></strong></i> <!-- Icono X -->
        </button>
      </div>
    </div>
    <div class="search-input">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" [(ngModel)]="busqueda" placeholder="Buscar..." />
      </span>
    </div>
  </div>

  <p-scrollPanel [style]="{ 'height.px': '475', 'width.%': '100' }">
    <p-tabView>
      <p-tabPanel *ngFor="let asignatura of asignaturas" [header]="asignatura">
        <p-table [value]="filtrarObservaciones(asignatura)" [paginator]="true" [rows]="10"  [globalFilterFields]="['Descripcion_Observacion', 'Nombre_Profesor']" class="custom-table">
          <ng-template pTemplate="header">
            <tr>
              <th class="header-cell" pSortableColumn="Tipo_Observacion">Tipo Observación <p-sortIcon field="Tipo_Observacion"></p-sortIcon></th>
              <th class="header-cell" pSortableColumn="Descripcion_Observacion">Descripción <p-sortIcon field="Descripcion_Observacion"></p-sortIcon></th>
              <th class="header-cell" pSortableColumn="Fecha_Registro">Fecha <p-sortIcon field="Fecha_Registro"></p-sortIcon></th>
              <th class="header-cell" pSortableColumn="Nombre_Profesor">Profesor <p-sortIcon field="Nombre_Profesor"></p-sortIcon></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-observacion>
            <tr>
              <td>{{ observacion.Tipo_Observacion }}</td>
              <td>{{ observacion.Descripcion_Observacion }}</td>
              <td>{{ observacion.Fecha_Registro | date }}</td>
              <td>{{ observacion.Nombre_Profesor }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="4">No hay observaciones encontradas.</td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>
    </p-tabView>
  </p-scrollPanel>
