<p-carousel [value]="asignaturas" [numVisible]="4" [responsiveOptions]="responsiveOptions">
  <ng-template let-asignatura pTemplate="item">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">{{ asignatura.Nombre_Asignatura }}</h5>
        <p class="card-text">{{ asignatura.Nombre_Curso }}</p>
        <p class="card-text">ID: {{asignatura.ID_Curso}}</p>
        <p class="card-text">Alumnos: {{ asignatura.Cantidad_Alumnos }}</p>
      </div>
    </div>
    <br>
  </ng-template>
</p-carousel>
