.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #3a3a3a;
  color: white;
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

.welcome-message {
  font-size: 1.2em;
}

.logout-button {
  margin-left: auto; /* Empuja el botón hacia la derecha */
}

.logout-button button {
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
  background-color: #ff4c4c;
  border: none;
  border-radius: 4px;
  color: white;
}
