<div class="card">
        <div class="card-header">
          <div class="card-title">Detalle Registros Asistencia/Notas</div>
        </div>
          <div class="card-body">
            <p-table [value]="datos" [scrollable]="true" scrollHeight="280px" [tableStyle]="{'min-width': '100%'}" class="custom-table">
              <!-- Encabezados de la tabla -->
              <ng-template pTemplate="header">
                <tr>
                  <th class="header-cell">Nombre Compañero</th>
                  <th class="header-cell">Correo</th>
                </tr>
              </ng-template>
              <!-- Cuerpo de la tabla -->
              <ng-template pTemplate="body" let-row>
                <tr>
                  <td>{{ row.Nombre_Companero }}</td>
                  <td>{{ row.Correo }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
      </div>
