<div class="card">
  <div class="card-body">
    <h2 class="card-title">Resumen de tus notas</h2>
    <hr class="card-divider">
    <label for="asignatura" class="card-text">Selecciona una Asignatura:</label>
    <select id="asignatura" [(ngModel)]="selectedAsignatura" (change)="updateChart()" class="form-control">
      <option *ngFor="let asignatura of asignaturas" [value]="asignatura.id">
        {{ asignatura.nombre }}
      </option>
    </select>

    <div id="chart" class="card-chart">
      <p-chart type="bar" [data]="data" [options]="options"></p-chart>
    </div>
  </div>
</div>
