<div class="back-to-dashboard">
  <a routerLink="/dashboardstudents">
    <mat-icon mat-list-icon>home</mat-icon>
  </a>
</div>

<p-toast></p-toast>
<!-- Utiliza appendTo="'body'" en lugar de [appendTo]="'body'" -->
<p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle" [closable]="false" appendTo="body"></p-confirmDialog>

  <!-- Mis Eventos -->
  <div class="event-cards-container" *ngIf="misEventos.length > 0">
    <p-divider align="right" class="custom-divider">
      <b>Mis Eventos</b>
    </p-divider>
    <p-carousel [value]="misEventos" [circular]="true" [numVisible]="4" [responsiveOptions]="responsiveOptions">
      <ng-template pTemplate="item" let-evento>
        <div class="card event-card">
          <img src="../../../assets/img/moduleeventos/{{evento.Id_Evento}}.png" alt="Imagen del Evento" class="card-image">
          <div class="card-content">
            <p class="card-title">{{ evento.Nombre_Asignatura }}</p>
            <p class="card-text">{{ evento.Tipo }}</p>
            <p class="card-text">{{ evento.Id_Evento }}</p>
            <div class="card-body">
              <button pButton type="button" label="Ver Detalles" class="p-button-text" (click)="verDetalles(evento)"></button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <br>
  <!-- Próximos Eventos -->
  <div class="event-cards-container" *ngIf="proximosEventos.length > 0">
    <p-divider align="center" class="custom-divider">
      <b>Próximos Eventos</b>
    </p-divider>
    <p-carousel [value]="proximosEventos" [circular]="true" [numVisible]="4" [responsiveOptions]="responsiveOptions">
      <ng-template pTemplate="item" let-evento>
        <div class="card event-card">
          <img src="../../../assets/img/moduleeventos/{{evento.Id_Evento}}.png" alt="Imagen del Evento" class="card-image">
          <div class="card-content">
            <p class="card-title">{{ evento.Nombre_Asignatura }}</p>
            <p class="card-text">{{ evento.Tipo }}</p>
            <p class="card-text">{{ evento.Id_Evento }}</p>
            <div class="card-body">
              <button pButton type="button" label="Ver Detalles" class="p-button-text" (click)="verDetalles(evento)"></button>
              <button pButton type="button" label="Inscribirse" (click)="confirmarInscripcion(evento)"></button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <br>
  <!-- Eventos Pasados -->
  <div class="event-cards-container" *ngIf="eventosPasados.length > 0">
    <p-divider align="left" class="custom-divider">
      <b>Eventos Pasados</b>
    </p-divider>
    <p-carousel [value]="eventosPasados" [circular]="true" [numVisible]="4" [responsiveOptions]="responsiveOptions">
      <ng-template pTemplate="item" let-evento>
        <div class="card event-card">
          <img src="../../../assets/img/moduleeventos/{{evento.Id_Evento}}.png" alt="Imagen del Evento" class="card-image">
          <div class="card-content">
            <p class="card-title">{{ evento.Nombre_Asignatura }}</p>
            <p class="card-text">{{ evento.Tipo }}</p>
            <p class="card-text">{{ evento.Id_Evento }}</p>
            <div class="card-body">
              <button pButton type="button" label="Ver Detalles" class="p-button-text" (click)="verDetalles(evento)"></button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <br>

<!-- Diálogo de Detalles del Evento -->
<p-dialog *ngIf="mostrarDetalles" header="Detalles del Evento" [(visible)]="mostrarDetalles" [modal]="true" [style]="{width: '50vw'}">
  <div *ngIf="eventoSeleccionado">
    <p><strong>Nombre:</strong> {{ eventoSeleccionado?.Nombre_Asignatura }}</p>
    <p><strong>Tipo:</strong> {{ eventoSeleccionado?.Tipo }}</p>
    <p><strong>Lugar:</strong> {{ eventoSeleccionado?.Lugar }}</p>
    <p><strong>Fecha:</strong> {{ eventoSeleccionado?.Fecha | date:'fullDate' }}</p>
    <p><strong>Descripción:</strong> {{ eventoSeleccionado?.Descripcion }}</p>
  </div>
</p-dialog>
