.custom-table th, .custom-table td {
  padding: 8px 12px; /* Ajustamos el relleno de las celdas */
}

.custom-table th {
  font-size: 1.2rem; /* Tamaño de fuente de los títulos de columna */
}

.custom-table .header-cell {
  background-color: #007bff; /* Color de fondo de los encabezados */
  color: #fff; /* Color del texto de los encabezados */
  font-weight: bold; /* Hacemos los títulos de columna negrita */
}

.custom-table td {
  vertical-align: middle; /* Centramos verticalmente el contenido de las celdas */
  font-size: 1.2rem; /* Tamaño de fuente de las celdas */
}



.card {
  margin-top: -20px;
}

.custom-table-container {
  width: 80%; /* Ajusta el ancho de la tabla al 80% de la tarjeta */
  margin: 0 auto; /* Centra la tabla horizontalmente */
  overflow: auto; /* Agrega barras de desplazamiento si el contenido excede el tamaño del contenedor */
}

.custom-table {
  width: 95%; /* Ocupa el ancho completo del contenedor */
}

.mensaje-seleccionar-fecha {
  color: red;
  font-style: italic;
}


.p-field {
  font-weight: bold;
  margin-left: 250px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.p-field2 {
  font-weight: bold;
  margin-left: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Ocultar scrollbars mientras se mantiene la capacidad de desplazamiento */
.custom-table-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Pantallas pequeñas */
@media (max-width: 800px) {
  .card {
    margin-bottom: 20px;
    height: auto; /* Ajustar la altura automáticamente */
    width: 100%; /* Asegura que la tarjeta ocupe el 100% del ancho disponible */
    overflow: visible; /* Permite que el contenido sea visible y no recortado */
  }
}
