
<nav class="side-menu">
  <ul>
    <li class="hidden active">
      <a class="page-scroll" href="#page-top"></a>
    </li>
    <li>
      <a href="#header" class="page-scroll" >
        <span class="menu-title">Inicio</span>
        <span class="dot"></span>
      </a>
    </li>
    <li>
      <a href="#establecimiento" class="page-scroll">
        <span class="menu-title">Establecimiento</span>
        <span class="dot"></span>
      </a>
    </li>
    <li>
      <a href="#personas" class="page-scroll" >
        <span class="menu-title">Docentes</span>
        <span class="dot"></span>
      </a>
    </li>
    <li>
      <a href="#news" class="page-scroll">
        <span class="menu-title">Noticias</span>
        <span class="dot"></span>
      </a>
    </li>
    <li>
      <a href="#eventos" class="page-scroll">
        <span class="menu-title">Eventos</span>
        <span class="dot"></span>
      </a>
    </li>
    <li>
      <a href="#about" class="page-scroll">
        <span class="menu-title">Contactanos !</span>
        <span class="dot"></span>
      </a>
    </li>
  </ul>
</nav>
<app-header></app-header>
<app-establecimiento></app-establecimiento>
<app-personas></app-personas>
<app-news></app-news>
<app-eventos></app-eventos>
<app-about></app-about>
