<div class="back-to-dashboard">
  <a routerLink="/dashboardteachers">
    <mat-icon mat-list-icon>home</mat-icon>
  </a>
</div>
<div class="floating-button" (click)="abrirPopupCrearEvento()">
  <mat-icon mat-list-icon>add</mat-icon>
</div>
<p-toast></p-toast>
<p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle" [closable]="false" appendTo="body"></p-confirmDialog>


<!-- Mis Eventos -->
<div class="event-cards-container" *ngIf="misEventos.length > 0">
  <p-divider align="right" class="custom-divider">
    <b>Eventos Hoy</b>
  </p-divider>
  <p-carousel [value]="misEventos" [circular]="true" [numVisible]="4" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="item" let-evento>
      <div class="card event-card">
        <img src="../../../assets/img/moduleeventos/{{evento.Id_Evento}}.png" alt="Imagen del Evento" class="card-image">
        <div class="card-content">
          <p class="card-title">{{ evento.Nombre_Asignatura }}</p>
          <p class="card-text">{{ evento.Tipo }}</p>
          <p class="card-text">{{ evento.Id_Evento }}</p>
          <div class="card-body">
            <button pButton type="button" label="Ver Detalles" class="p-button-text" (click)="verDetalles(evento)"></button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
<br>
<!-- Próximos Eventos -->
<div class="event-cards-container" *ngIf="proximosEventos.length > 0">
  <p-divider align="center" class="custom-divider">
    <b>Próximos Eventos</b>
  </p-divider>
  <p-carousel [value]="proximosEventos" [circular]="true" [numVisible]="4" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="item" let-evento>
      <div class="card event-card">
        <img src="../../../assets/img/moduleeventos/{{evento.Id_Evento}}.png" alt="Imagen del Evento" class="card-image">
        <div class="card-content">
          <p class="card-title">{{ evento.Nombre_Asignatura }}</p>
          <p class="card-text">{{ evento.Tipo }}</p>
          <p class="card-text">{{ evento.Id_Evento }}</p>
          <div class="card-body">
            <button pButton type="button" label="Ver Detalles" class="p-button-text" (click)="verDetalles(evento)"></button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
<br>
<!-- Eventos Pasados -->
<div class="event-cards-container" *ngIf="eventosPasados.length > 0">
  <p-divider align="left" class="custom-divider">
    <b>Eventos Pasados</b>
  </p-divider>
  <p-carousel [value]="eventosPasados" [circular]="true" [numVisible]="4" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="item" let-evento>
      <div class="card event-card">
        <img src="../../../assets/img/moduleeventos/{{evento.Id_Evento}}.png" alt="Imagen del Evento" class="card-image">
        <div class="card-content">
          <p class="card-title">{{ evento.Nombre_Asignatura }}</p>
          <p class="card-text">{{ evento.Tipo }}</p>
          <p class="card-text">{{ evento.Id_Evento }}</p>
          <div class="card-body">
            <button pButton type="button" label="Ver Detalles" class="p-button-text" (click)="verDetalles(evento)"></button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
<br>

<!-- Diálogo de Detalles del Evento -->
<p-dialog *ngIf="mostrarDetalles" header="Detalles del Evento" [(visible)]="mostrarDetalles" [modal]="true" [style]="{width: '50vw'}">
  <div *ngIf="eventoSeleccionado">
    <p><strong>Nombre:</strong> {{ eventoSeleccionado?.Nombre_Asignatura }}</p>
    <p><strong>Tipo:</strong> {{ eventoSeleccionado?.Tipo }}</p>
    <p><strong>Lugar:</strong> {{ eventoSeleccionado?.Lugar }}</p>
    <p><strong>Fecha:</strong> {{ eventoSeleccionado?.Fecha | date:'fullDate' }}</p>
    <p><strong>Descripción:</strong> {{ eventoSeleccionado?.Descripcion }}</p>
  </div>
</p-dialog>

<!-- Diálogo de Creación de Evento -->
<p-dialog header="Crear Evento" [(visible)]="mostrarPopupCrearEvento" [modal]="true" [style]="{width: '300px'}">
  <div class="p-fluid">
    <div class="p-field">
      <label for="fechaEvento">Fecha del Evento</label>
      <p-calendar [(ngModel)]="evento.fechaEvento" dateFormat="dd/mm/yy" [showIcon]="true" placeholder="Selecciona la fecha"></p-calendar>
      <br>
    </div>
    <div class="p-field">
      <label for="tipoEvento">Tipo de Evento</label>
      <p-dropdown [options]="tiposEventos" [(ngModel)]="evento.tipoEvento" optionLabel="nombre" placeholder="Selecciona el tipo de evento"></p-dropdown>
      <br>
    </div>
    <div class="p-field">
      <label for="asignatura">Asignatura</label>
      <p-dropdown [options]="asignaturas" [(ngModel)]="evento.asignatura" optionLabel="nombre" placeholder="Selecciona la asignatura"></p-dropdown>
      <br>
    </div>
    <div class="p-field">
      <label for="descripcion">Descripción</label>
      <br>
      <textarea id="descripcion" pInputTextarea [(ngModel)]="evento.descripcion" maxlength="500" [style]="{width: '270px'}"></textarea>
      <br>
    </div>
    <div class="p-field">
      <label for="lugarEvento">Lugar del Evento</label>
      <br>
      <input id="lugarEvento" type="text" pInputText [(ngModel)]="evento.lugarEvento" maxlength="50" [style]="{width: '270px'}" />
      <br>
    </div>
    <br>
    <div class="p-field">

      <label for="imagenEvento">Imagen del Evento</label>
      <br>
      <input type="file" (change)="onFileChange($event)" />
      <br>
    </div>
  </div>
  <div class="p-dialog-footer">
    <br>
    <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="cerrarPopupCrearEvento()"></button>
    <button pButton type="button" label="Crear" icon="pi pi-check" class="p-button-success" (click)="crearEvento()"></button>
  </div>
</p-dialog>
