
Gestiones Asignaturas
<button type="submit" pButton label="Crear Asignatura"></button>
<button type="submit" pButton label="Asignar Horario"></button>

<p-divider align="right" class="custom-divider"></p-divider>

Gestiones Curso
<button type="submit" pButton label="Crear Curso"></button>
<button type="submit" pButton label="Asignar Estudiantes"></button>
<button type="submit" pButton label="Asignar Profesor Jefe"></button>

<p-divider align="right" class="custom-divider"></p-divider>

Gestiones Profesores

<button type="submit" pButton label="Crear Profesor"></button>
<button type="submit" pButton label="Asignar Asignatura"></button>
<button type="submit" pButton label="Asignar Curso"></button>


<p-divider align="right" class="custom-divider"></p-divider>

Gestiones Estudiantes

<button type="submit" pButton label="Crear Estudiante"></button>
<button type="submit" pButton label="Asignar Asignatura"></button>
<button type="submit" pButton label="Asignar Curso"></button>




<p-toast></p-toast>
