.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-toolbar {
  background: linear-gradient(to right, #333, #000);
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.example-toolbar:hover {
  background: linear-gradient(to right, #000, #333);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9);
}

.example-sidenav-container {
  flex: 1;
  position: relative;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

.sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: auto;
}

.example-sidenav {
  width: 250px; /* Cambia este valor al ancho deseado */
}

.asignaturas-wrapper {
  width: 100%;
  margin-bottom: 20px;
}

.notas-proximos-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.notas-wrapper, .eventos-wrapper {
  flex: 1 0 100%;
}

.card {
  margin-bottom: 20px; /* Espacio entre las cards */
}

@media (min-width: 600px) {
  .notas-wrapper {
    flex: 0 0 65%;
    max-width: 65%;
  }

  .eventos-wrapper {
    flex: 0 0 35%;
    max-width: 35%;
  }
}

.active-link {
  background-color: rgba(0, 0, 0, 0.04);
}


.example-sidenav .mat-list-item:last-child {
  order: 999; /* Coloca el último elemento al final */
}
