.custom-table {
  background-color: #ffffff; /* Cambiamos el color de fondo a negro */
  color: #fff; /* Cambiamos el color del texto a blanco */
  border-radius: 10px; /* Bordes redondeados */
  text-align: center; /* Centramos el contenido de la tabla */
}

.custom-table th {
  font-size: 1.5rem; /* Aumentamos el tamaño de fuente de los títulos de columna */
  font-weight: bold; /* Hacemos los títulos de columna negrita */
}

.custom-table .header-cell {
  background-color: #007bff; /* Color de fondo de los encabezados */
  color: #fff; /* Color del texto de los encabezados */
  font-size: 1.3rem; /* Aumentamos el tamaño de fuente de los encabezados */
  font-weight: bold; /* Hacemos los títulos de columna negrita */
}

.custom-table td {
  vertical-align: middle; /* Centramos verticalmente el contenido de las celdas */
}

.custom-table .presente {
  color: green; /* Color verde para el estado presente */
}

.custom-table .ausente {
  color: red; /* Color rojo para el estado ausente */
}

.custom-table .proxima {
  color: #ccc; /* Color gris para el estado próxima */
}


.custom-table .nota-roja {
  color: red; /* Color rojo para notas menores a 4 */
}

.custom-table .nota-azul {
  color: rgb(0, 26, 255); /* Color azul para notas mayores o iguales a 4 */
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efecto de sombra */
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  height: 340px; /* Altura fija */
  background-color: #ffffff;
}

.card:hover {
  box-shadow: 0 4px 10px #51a5ff;
}

.card-content {
  padding: 1rem;
}

.card-content p {
  font-size: 1.2rem;
}
