
.custom-table .presente {
  color: green; /* Color verde para el estado presente */
}

.custom-table .ausente {
  color: red; /* Color rojo para el estado ausente */
}

.custom-table .proxima {
  color: lightgrey; /* Color gris para el estado próxima */
}

.custom-table .nota-roja {
  color: red; /* Color rojo para notas menores a 4 */
}

.custom-table .nota-azul {
  color: rgb(0, 26, 255); /* Color azul para notas mayores o iguales a 4 */
}


/* Ocultar el scrollbar */
.card::-webkit-scrollbar {
  width: 0; /* Oculta el scrollbar en Chrome, Safari, y Edge */
}

.card {
  scrollbar-width: none; /* Oculta el scrollbar en Firefox */
  background-color: #ffffff;
  margin-top: -20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

