<div class="container">
  <div class="row me-row content-ct" id="establecimiento">
    <h2 class="row-title">Descubre Nuestro Compromiso con la Excelencia Educativa</h2>
    <div class="col-md-4 feature">
      <img src="../../assets/img/logos/sombrero.jpg" class="image">
      <h3>Nuestros Estudiantes</h3>
      <p>De nuestros estudiantes se gradúan con éxito y continúan su educación superior o ingresan al mundo laboral con las habilidades necesarias para tener éxito.</p>
    </div>
    <div class="col-md-4 feature">
      <img src="../../assets/img/logos/primerlugar.jpg" class="image">
      <h3>Reconocimiento</h3>
      <p>Reconocimientos y distinciones académicas en competencias nacionales e internacionales, demostrando nuestra excelencia educativa y el compromiso con la excelencia.</p>
    </div>
    <div class="col-md-4 feature">
      <img src="../../assets/img/logos/ratio.png" class="image2">
      <h3>Ratio alumno-profesor 15:1</h3>
      <p>Garantizamos una atención individualizada y de calidad para cada estudiante, fomentando un ambiente de aprendizaje efectivo y colaborativo.</p>
    </div>
  </div>
</div>
s
