<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <span class="example-app-name">Bienvenido {{ username }}</span>
    <span class="example-logout-button" *ngIf="username">
      <button mat-icon-button (click)="logout()"><mat-icon>exit_to_app</mat-icon></button>
    </span>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <div class="sidenav-overlay" *ngIf="snav.opened && mobileQuery.matches" (click)="snav.close()"></div>

    <mat-sidenav #snav class="example-sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <!-- Enlace Asignaturas con submenú dinámico -->
        <mat-list-item (click)="toggleAsignaturasMenu()">
          <mat-icon mat-list-icon>folder</mat-icon>
          <span mat-line> Asignaturas</span>
          <mat-icon mat-list-icon [class.rotate-icon]="asignaturasMenuOpened">expand_more</mat-icon>
        </mat-list-item>
        <!-- Submenú de Asignaturas -->
        <div *ngIf="asignaturasMenuOpened">
          <mat-nav-list>
            <!-- Iterar sobre las asignaturas para mostrarlas como enlaces -->
            <a mat-list-item *ngFor="let asignatura of asignaturas" [routerLink]="['/dashboardteachers/asignatura', asignatura.ID_Curso,asignatura.ID_Asignatura]">
              {{ asignatura.Nombre_Asignatura }} - {{ asignatura.Nombre_Curso }}
            </a>
          </mat-nav-list>
        </div>

        <!-- Enlace a Eventos -->
        <a mat-list-item [routerLink]="['/dashboardteachers/eventos']" routerLinkActive="active-link">
          <mat-icon mat-list-icon>event</mat-icon>
          <span mat-line> Eventos</span>
        </a>

        <!-- Enlace a Observaciones -->
        <a mat-list-item [routerLink]="['/dashboardteachers/observaciones']" routerLinkActive="active-link">
          <mat-icon mat-list-icon>notes</mat-icon>
          <span mat-line> Observaciones</span>
        </a>
        <!-- Enlace al perfil -->
        <a mat-list-item [routerLink]="['/dashboardteachers/perfil']">
          <mat-icon mat-list-icon>person</mat-icon>
          <span mat-line> Perfil</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <br>
      <!-- Usamos una condición para mostrar u ocultar las otras componentes -->
      <p-card>
        <p-divider align="right" class="custom-divider" *ngIf="isDashboardRoute()">
          <b>Mi Dashboard</b>
        </p-divider>
      <ng-container *ngIf="!isModuleSelected()">
        <div class="asignaturas-wrapper">
          <app-asignaturas-dashboard-profesor></app-asignaturas-dashboard-profesor>
      </div>
        <div class="notas-proximos-wrapper">
          <div class="notas-wrapper">
            <div class="card">
              <div class="card-body">
                <app-notas-dashboard-profesor></app-notas-dashboard-profesor>
      </div>
            </div>
          </div>

          <div class="eventos-wrapper">
            <div class="card">
              <div class="card-body">
        <app-proximos-dashboard-profesor></app-proximos-dashboard-profesor>
      </div>
            </div>
          </div>
        </div>
        <app-horario-dashboard-profesor></app-horario-dashboard-profesor>
        <br>
      </ng-container>
      <br>


      <!-- Aquí es donde cargaremos el contenido dinámico de las asignaturas -->
      <router-outlet></router-outlet>
    </p-card>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
