<div *ngIf="datos">
  <div class="detalle-card" style="grid-column: span 1;">
    <div class="card-header">
      <span class="card-title">Detalles de la Asignatura</span>
    </div>
    <div class="card-content">
      <p><strong>ID Asignatura:</strong> {{ datos.ID_Asignatura }}</p>
      <p><strong>Nombre Asignatura:</strong> {{ datos.Nombre_Asignatura }}</p>
      <p><strong>Descripción Asignatura:</strong> {{ datos.Descripcion_Asignatura }}</p>
      <p><strong>Tipo Asignatura:</strong> {{ datos.Tipo_Asignatura }}</p>
      <p><strong>Nombre Profesor:</strong> {{ datos.Nombre_Profesor }}</p>
      <p><strong>Correo Profesor:</strong> {{ datos.Correo_Profesor }}</p>
      <p><strong>Descripción Profesor:</strong> {{ datos.Descripcion_Profesor }}</p>
    </div>
  </div>
</div>

