
.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  box-sizing: border-box;
  padding: 10px;
}

.detalle-asignatura {
  flex: 0 0 35%; /* 35% de ancho */
}

.promedios {
  flex: 0 0 15%; /* 15% de ancho */
}

.registros {
  flex: 0 0 50%; /* 50% de ancho */
}

.graficos {
  flex: 0 0 100%; /* 100% de ancho */
}
