<div class="back-to-dashboard">
  <a routerLink="/dashboardstudents">
    <mat-icon mat-list-icon>home</mat-icon>
  </a>
</div>

<p-divider align="right" class="custom-divider">
  <b>Mi Asignatura</b>
</p-divider>
<br>
<br>
<br>

<div class="grid-container">
  <!-- Primera línea: Detalle, Promedios, Registros -->
  <div class="grid-item detalle-asignatura">
    <app-detalle-asignatura
      [rutEstudiante]="rutEstudiante"
      [idCurso]="idCurso"
      [idAsignatura]="idAsignatura">
    </app-detalle-asignatura>
  </div>

  <div class="grid-item promedios">
    <app-promedios-asignatura
      [rutEstudiante]="rutEstudiante"
      [idCurso]="idCurso"
      [idAsignatura]="idAsignatura">
    </app-promedios-asignatura>
  </div>

  <div class="grid-item registros">
    <app-registros-asignatura
      [rutEstudiante]="rutEstudiante"
      [idCurso]="idCurso"
      [idAsignatura]="idAsignatura">
    </app-registros-asignatura>
  </div>

  <!-- Segunda línea: Gráficos -->
  <div class="grid-item graficos">
    <app-graficos-asignatura
      [rutEstudiante]="rutEstudiante"
      [idCurso]="idCurso"
      [idAsignatura]="idAsignatura">
    </app-graficos-asignatura>
  </div>

  <!-- Tercera línea: Compañeros -->
  <div class="grid-item companeros">
    <app-companeros-asignatura
      [rutEstudiante]="rutEstudiante"
      [idCurso]="idCurso"
      [idAsignatura]="idAsignatura">
    </app-companeros-asignatura>
  </div>
</div>
