
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";



/* Estilos para el botón "Volver al tablero" */
.back-to-dashboard {
  position: fixed;
  top: 64px; /* Altura del toolbar */
  right: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px;
  border-radius: 50%;
  z-index: 1000; /* Asegura que esté por encima del contenido */
}

.back-to-dashboard a {
  text-decoration: none;
  color: #333;
}

.back-to-dashboard a:hover {
  color: #000;
}



html, body {
  overflow: -moz-scrollbars-none; /* Oculta barras de desplazamiento en Firefox */
  -ms-overflow-style: none; /* Oculta barras de desplazamiento en IE y Edge */
  scrollbar-width: none; /* Oculta barras de desplazamiento en Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Oculta barras de desplazamiento en Chrome, Safari y Opera */
}
