<div class="container">
  <div class="row me-row schedule" id="eventos">
    <h2 class="row-title content-ct">Calendario de Eventos</h2>
    <div class="col-md-12">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li *ngFor="let mes of meses; let i = index" role="presentation" [ngClass]="{'active': i === 0}">
          <a [id]="'tab-' + mes.nombre" [href]="'#' + mes.nombre" aria-controls="home" role="tab" data-toggle="tab">
            {{ mes.nombre }}
          </a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div *ngFor="let mes of meses; let i = index" role="tabpanel" [id]="mes.nombre" class="tab-pane fade" [ngClass]="{'active in': i === 0}">
          <div class="row">
            <div class="col-md-6" *ngFor="let detalle of eventos">
              <div *ngIf="detalle.MES === mes.nombre" class="media">
                <div class="media-left">
                  <a>
                    <img class="media-object" src="../../assets/img/moduleeventos/{{detalle.ID_EVENTO}}.png" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">{{ detalle.FECHA_EVENTO }} {{detalle.MES}}</h4>
                  <h5>{{ detalle.NOMBRE_ASIGNATURA }}</h5>
                  <p>{{ detalle.DESCRIPCION }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
